<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
  <meta charset="UTF-8" />
  <title>G-Sport</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
  <link rel="stylesheet" type="text/css" href="css/style.css" />
  <link href="https://fonts.googleapis.com/css?family=Dosis&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=PT+Sans&display=swap" rel="stylesheet">
</head>
<body>
  <div class="container" >
    
    <div class="content">      
 
      <!--FORMULÁRIO DE CADASTRO-->
      <div id="cadastro">
        <form method="post" action=""> 
          <h1>Cadastro</h1> 
           
          <p> 
            <label for="nome_cad">Seu nome</label>
            <input id="nome_cad" name="nome_cad" required="required" type="text" placeholder="nome" />
          </p>
           
          <p> 
            <label for="email_cad">Seu e-mail</label>
            <input id="email_cad" name="email_cad" required="required" type="email" placeholder="nome@gmail.com"/> 
          </p>
           
           <p> 
            <label for="tel_cad">Seu telefone</label>
            <input id="tel_cad" name="tel_cad" type="text" placeholder="XX 9XXXX-XXXX"/> 
          </p>
           
          <p> 
            <label for="senha_cad">Sua senha</label>
            <input id="senha_cad" name="senha_cad" required="required" type="password"/>
          </p>
          
          <p>
          	Você é: <br/>
				<input type="radio" name="userType" VALUE="crowd"> torcida
				<input type="radio" name="userType" VALUE="org"> organizador
				<input type="radio" name="userType" VALUE="team"> time
          </p>
           
          <p> 
            <input type="submit" value="Cadastrar"/> 
          </p>
           
          <p class="link">  
            Já tem conta?
            <a href="\"> Ir para Login </a>
          </p>
      </div>
    </div>
  </div>  
</body>
</html>